src/Modelo/obj/Debug/project.razor.json
src/Modelo/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
src/Modelo/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
src/Modelo/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
src/PalcoNet/bin/Debug/PalcoNet.vshost.exe.manifest
src/PalcoNet/bin/Debug/PalcoNet.vshost.exe.config
src/PalcoNet/bin/Debug/PalcoNet.exe.config
src/PalcoNet/obj/Debug/PalcoNet.Listado_Estadistico.ListadoEstadistico.resources
src/PalcoNet/obj/Debug/PalcoNet.Historial_Cliente.HistorialCliente.resources
src/PalcoNet/obj/Debug/PalcoNet.Generar_Rendicion_Comisiones.GenerarRendicionComisiones.resources
src/PalcoNet/obj/Debug/PalcoNet.Generar_Publicacion.GenerarPublicacion.resources
src/PalcoNet/obj/Debug/PalcoNet.Generar_Publicacion.CategoriaUbicacion.resources
src/PalcoNet/obj/Debug/PalcoNet.Editar_Publicacion.btnEditPublic.resources
src/PalcoNet/obj/Debug/PalcoNet.Editar_Publicacion.EditarPublicacion.resources
src/PalcoNet/obj/Debug/PalcoNet.Comprar.SeleccionCategorias.resources
src/PalcoNet/obj/Debug/PalcoNet.Comprar.ComprarPPAL.resources
src/PalcoNet/obj/Debug/PalcoNet.Comprar.Comprar.resources
src/PalcoNet/obj/Debug/PalcoNet.Canje_Puntos.CanjePuntos.resources
src/PalcoNet/obj/Debug/PalcoNet.Abm_Rol.RolPorFuncionalidadesModificar.resources
src/PalcoNet/obj/Debug/PalcoNet.Abm_Rol.RolPorFuncionalidad.resources
src/PalcoNet/obj/Debug/PalcoNet.Abm_Rol.RolEliminar.resources
src/PalcoNet/obj/Debug/PalcoNet.Abm_Grado.ModificarGradoElegido.resources
src/PalcoNet/obj/Debug/PalcoNet.Abm_Grado.ModificarGrado.resources
src/PalcoNet/obj/Debug/project.razor.json
src/PalcoNet/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
src/PalcoNet/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
src/PalcoNet/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
src/PalcoNet/obj/Debug/PalcoNet.csproj.FileListAbsolute.txt
src/PalcoNet/obj/Debug/PalcoNet.csproj.CopyComplete
src/PalcoNet/obj/Debug/PalcoNet.VentanasPorRol.panelContenedor.resources
src/PalcoNet/obj/Debug/PalcoNet.VentanasPorRol.FormLogo.resources
src/PalcoNet/obj/Debug/PalcoNet.Registro_de_Usuario.UsuarioCambiarPsw.resources
src/PalcoNet/obj/Debug/PalcoNet.Registro_de_Usuario.UsuarioAlta.resources
src/PalcoNet/obj/Debug/PalcoNet.Properties.Resources.resources
src/PalcoNet/obj/Debug/PalcoNet.Login.resources
src/PalcoNet/obj/Debug/PalcoNet.Abm_Grado.BajaGrado.resources
src/PalcoNet/obj/Debug/PalcoNet.Abm_Grado.AltaGrado.resources
src/PalcoNet/obj/Debug/PalcoNet.Abm_Empresa_Espectaculo.ModificarEmpresaElegida.resources
src/PalcoNet/obj/Debug/PalcoNet.Abm_Empresa_Espectaculo.ModificacionEmpresa.resources
src/PalcoNet/obj/Debug/PalcoNet.Abm_Empresa_Espectaculo.EliminarEmpresa.resources
src/PalcoNet/obj/Debug/PalcoNet.Abm_Empresa_Espectaculo.AltaEmpresa.resources
src/PalcoNet/obj/Debug/PalcoNet.Abm_Empresa_Espectaculo.ABMEmpresa.resources
src/PalcoNet/obj/Debug/PalcoNet.Abm_Cliente.ModificarClienteSeleccionado.resources
src/PalcoNet/obj/Debug/PalcoNet.Abm_Cliente.ModificarClienteElegido.resources
src/PalcoNet/obj/Debug/PalcoNet.Abm_Cliente.ModificacionCliente.resources
src/PalcoNet/obj/Debug/PalcoNet.Abm_Cliente.EliminarCliente.resources
src/PalcoNet/obj/Debug/PalcoNet.Abm_Cliente.AltaCliente.resources
src/PalcoNet/obj/Debug/PalcoNet.Abm_Cliente.ABMCliente.resources
src/PalcoNet/obj/Debug/PalcoNet.Comprar.ConfirmarCompra.resources
